[submodule "Project/diffusers"]
	path = Project/diffusers
	url = https://github.com/huggingface/diffusers
[submodule "Project/DiffSynth-Studio"]
	path = Project/DiffSynth-Studio
	url = https://github.com/modelscope/DiffSynth-Studio/
